.shadow-effect {
    background-color: #53575C;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 19px 38px rgba(74, 74, 74, 0.1)0 15px 12px rgba(255, 255, 255, 0.02);
    height: 400px;
  }

  .customerdesc {
    font-size: clamp(10.2px, 1.2vw, 16px)
  }
  .img-circle {
    border-radius: 50%;
    vertical-align: middle;
    max-width: 90px;
    min-height: 90px;
    transform-style: preserve-3d;
    margin: 0 auto 17px;
  }

  .testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: linear-gradient(100deg, #e0636f, #e0636f);
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 9px 18px rgba(252, 187, 187, 0.12), 0px 5px 7px rgba(82, 56, 56, 0.5);
  }
  #customer-testimonoals .item {
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
    opacity: 0.4;
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
  }
  #customer-testimonoals .owl-item.active.center .item {
    opacity: 1;
    transform: scale3d(1.0, 1.0, 1);
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #e0636f;
    transform: translate3d(0px, -50%, 0px) scale(0.8);
  }
  .owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .owl-carousel .owl-dots .owl-dot{ 
    display: inline-block;
  }
  .owl-carousel .owl-dots .owl-dot span{ 
    background: #e0636f;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
  } 
  .cardsmaincont1{
    background-color: #2B2F36;
    
}
@media only screen and (max-width: 768px) {
  .customerdesc {
    font-size: clamp(13px, 3.5vw, 19px)
  }
}
/* 
@media (768px <= width <=992px) {
  .customerdesc {
    background-color: aqua;
   
  }
} */