/* Banner img Styling */
@media only screen and (max-width: 768px) {
    .kartbanner {
      height: 220px;
      
    }
   .kartbannerimg {
     height: 220px;
      object-fit: cover;
    }
  }
  .categoryhead{
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-size: 33px;
    }
    .catecontainer{
        margin-left: 20px;
        width: fit-content;
    
    }
    
    .catglinkbtn{
        text-decoration: none; 
    }
    
    .categorylinktext{
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    
    
    }
    .categorylinktext:hover{
        text-decoration: underline;
    }
  .kartprodcards{
    width: 280px;
     height: 530px;
     background-color: #fff;
       -webkit-transition: all .2s ease-out;
      
   }
  .kartprodcards:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23); 
       -webkit-transform: translateY(-2px);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

  
  }


.kartproimg{
  justify-content: center;
  object-fit: cover;

}
.kartlink{
text-decoration: none;
}
.kartlink:hover{
  text-decoration: underline;
  color: #000;
  }
 .kartbodytext{
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  margin-top: 3px;
 }
.protext{
  font-size: 18px;
  font-weight: 800;
}

.katelastbtn{
  background-color: #000;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 20px;
  width: 122px;
}
.katelastbtn:hover{
  background-color: #808080;
  color: #fff;
  
}



