body{
    font-family:  'Roboto',sans-serif;
    height: 100%;
 
}
.content {
    height: 100vh;
  }
  
  .text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 15px;
    transform: translate(-50%, -50%);
    background: gray;
    color: white;
    border-radius: 20px;
    font-size: 50px;
  }
.textmotorsport{
    font-size: clamp(11px, 1.2vw, 25px) 
}
.detailtext{
    font-size: clamp(14.2px, 1.2vw, 26px)  
}
/* .imagescnd{
    width: 100%;
    float:'right'
} */

.dashboardimg{
    width:  900px;
    object-fit: contain;
    /* height: clamp(360px, 22vw, 400px)  */
}
/* @media only screen and (max-width: 768px){
    .dashboardimg{
        height:250px;
    } 
} */