.content1 {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);/* Black background with opacity */

  }

.headingcontent{
    font-size: 45px;
}
.headingscndcontent{
    font-size: 20px;
    color: white;

}
  
  .text-content1 {
    position: absolute;
    top: 30%;
    left: 5%;
  }
.card {
    border: none;
    border-radius: 10px;
    background-color: #ccf9fd;
}
.iconimg {
    width: 60px;
    height: 60px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  @media only screen and (max-width: 768px) {
    
    .headingcontent{
        font-size: 22px;
    }
    .parallax{
        height: 450px;
    }
  }
