.cardsmaincont{
    background-color: #2B2F36;
    
}
.cards{
  background-color: #53575C;
  border-radius: 10px;
  width: 85%;
  height: 420px;
}
.cont1{
  height: 60%;
}
.cont2{
height: 40%;
margin-bottom: 5px;
}
.heading1{
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.desc1{
  font-size: 16px;
  color: #fff;
}
.cardbotmimg{
  max-width: 50%;
}

    .owl-prev {
        left: 0;
        display: flex;
        background: black;
        border-radius: 50%;
      }
      
      .owl-next {
        right: 0;
        display: flex;
        background: #fff;
      }
      
      .owl-prev i,
      .owl-next i {
        margin: auto;
        font-size: 32px;
        height: 35px;
        width: 35px;
        color: white;
        border: 1px solid white;
        border-radius: 10%;
        align-self: center;
      }
      
      @media only screen and (max-width: 768px) {
        .cardbotmimg{
          max-width: 20%;
        }
        .cont1{
          height: 150px;
  
          font-size: 24px;
        }
        .heading1{
          font-size: 20px;
        }
        .cont2{
        height: 150px;
        }
        .cards{
          height: 300px;
        }
        .owl-prev i,
      .owl-next i{
        font-size: 22px;
        height: 25px;
        width: 25px;
      }

      }