/* .input-group{
    height: 5,  
} */
.nav-link tt:hover{
    border-bottom: #dc3545;
}
.Headcont{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-bottom: 1%;
}
#dropnav{
    width: 100%;
    overflow: hidden;
}
.heading{
    color: black;
    font-weight: bold;
    font-family:  'Roboto',sans-serif;
    text-transform: uppercase;
    width: fit-content;
    margin-left: 2%;
     
}
.heading:hover{
    color: #dc3545;
   
}
.catecont{
    width: fit-content;
}
.catecont a:active {
	color: #777;
}
.catetext{
    color: black;
    font-family:  'Roboto',sans-serif;
    text-transform: uppercase;}
.catetext:hover{
    color: #23527C;
    text-decoration: underline;
}
