
body{
    font-family:  'Roboto',sans-serif;
}
#dropnav{
    width: 100%;
    overflow: hidden;
    background-color: rgb(224, 222, 222);
}
.Headcont{
    display: flex;
    flex-direction: row;
    margin: 15px 20px;

}
.nav-link.active{
    color: #dc3545 !important;
}
.nav-link{
    color: #000 ;
}

.heading{
    /* color: black; */
    font-weight: bold;
    font-family:  'Roboto',sans-serif;
    text-transform: uppercase;  
}
.heading:hover{
    color: #dc3545;
}
.dropnavimgs{
    height: 318px;
    width: 250px;
}


.catetext{
    color: black;
    text-transform: uppercase;
    width: fit-content;
}
.catetext:hover{
    color: #dc3545;
    text-decoration: underline;
}
