*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrap{
    width: 100vw;
    height: 100vh;
    background: url(./racer.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 300px;
    padding: 20px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 30px;
}
input,select,option{
    width: 150px;
    color: black;
    height: 18px;
    padding: 2px;
    font-size: 10px;
}
input[type="radio"]{
    width: unset;
    vertical-align: middle;
}
input[type="file"]{
    color: white;
}
label,p{
    font-size: small;
}
fieldset{
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border: 1px solid white;
}
.form-group{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
button{
width: 100%;

}