.headcont{
 padding: 36px; 
}
.product-container{
  padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.itemgg{
 
  background-color: black;
  
}
.img{
  width: 200px;
  height: 300px;
}
