/* Banner img Styling */
@media only screen and (max-width: 768px) {
    .kartbanner {
      height: 250px;
      
    }
   .kartbannerimg {
     height: 250px;
    }
    /* .kartproimg{
      height: 203px;
    } */
    /* .kartprodcards{
      margin-left: 12px;
     } */
     .protext{
      font-size: 12px !important;
     }
  }
  .categoryhead{
    color: #000;
    font-size: 33px;
    }
    .catecontainer{
        margin-left: 20px;
        width: fit-content;
    }
    
    .catglinkbtn{
        text-decoration: none; 
    }
    
    .categorylinktext{
    color: black;
    text-transform: uppercase;
    font-size: 23px;
    }
    .categorylinktext:hover{
        text-decoration: underline;
    }
  .kartprodcards{
    
     background-color: #fff;
     -webkit-transition: all .2s ease-out;
   }
  .kartprodcards:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23); 
       -webkit-transform: translateY(-2px);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  
  }
.kartproimg{
  justify-content: center;
  object-fit: cover;
}
.kartlink{
text-decoration: none;
}
.kartlink:hover{
  text-decoration: underline;
  color: #000;
  }
 .kartbodytext{
  color: #000;
  margin-top: 5px;
  margin-left: 10px;
 }
.protext{
  font-size: 18px;
  font-weight: 800;
}

.katelastbtn{
  background-color: #000;
  color: white;
  font-size: 12px;
  
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 30px;
  margin-bottom: 9px;
}
.katelastbtn:hover{
  background-color: #434242;
  color: #fff;
  
}



