/* Banner img Styling */
@media only screen and (max-width: 768px) {
    .kartbanner {
      height: 160px !important;
    }
   .kartbannerimg {
     height: 160px !important;
     width: 100%;
   }
  }
.kartbanner{
  margin: 15px 0px;
}

  .kartprodcards{
     background-color: #fff;
     -webkit-transition: all .2s ease-out;
     padding: 10px;
   }

  .kartprodcards:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23); 
       -webkit-transform: translateY(-2px);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

.kartproimg{
  justify-content: center;
}

.kartlink{
text-decoration: none;
}

.kartlink:hover{
  text-decoration: underline;
  color: #000;
  }
 .kartbodytext{
  color: #000;
  margin-top: 10px;
  margin-left: 5px;
 }
.protext{
  font-size: clamp(12px, 1.5vw, 18px);
  font-weight: 800;
}

.katelastbtn{
  background-color: #000;
  color: white;
  font-size: clamp(9px, 1.2vw, 13px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin-bottom: 9px;
}
.katelastbtn:hover{
  background-color: #434242;
  color: #fff;
}
 





/* NavAuto Styling */
.categoryhead{
  color: #000;
  justify-content: center;
  display: flex;
  font-size: clamp(18px, 2.1vw, 45px);
  }
  .categorylinktext{
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(10px, 1.7vw, 35px);
    padding-left: 9px;
    border-left: 2px solid #DC3545;
  
    }
  .catecontainer{
      margin-left: 10px;
      width: fit-content;
  }
  
  .catglinkbtn{
      text-decoration: none; 
      color: black;
      display: block;
      width: fit-content;
  }
 .catglinkbtn.active {
    color: #DC3545 !important;
    text-decoration: underline;
  }
  
  
  .categorylinktext:hover{
      text-decoration: underline;
      color: #DC3545;
      border: none;
     
  }


