
.imagedetail{
    height: 500px;
    width: 400px;
    border-radius: 15px;
}
td{
    font-size: 20px;
}
@media only screen and (max-width: 768px) {
    .imagedetail{
        height: 300px;
        width: 300px;
        border-radius: 25px !important;
    }
    td{
        font-size: 12px;
    }
    .table-title{
        font-size: 16px;
        font-weight: 700;
    }
}