/* #contimagdetail{
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23); 
    border-radius: 40px;
    width: fit-content;
} */
.imagedetail{
    height: fit-content;
    width: 400px;
    border-radius: 15px;
    margin-top: 25px;
}
td{
    font-size: clamp(9.8px, 1.2vw, 19px);
    font-family: 'Times New Roman', Times, serif;
}
strong{
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(11.2px, 1.2vw, 22px);
}
@media only screen and (max-width: 768px) {
    .imagedetail{
        height: fit-content;
        width: 250px;
        border-radius: 25px !important;
    }

}